<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">

<dom-module id="gestor-clientes">
    <template>
        <style>
            :host {
                display: block;
            }
        </style>
        <div class="container">
            <div class="row">
            <h1>Gestor Clientes</h1>
            </div>
        </div>
        <div class="row">
            <button type="button" on-click="obtenerClientes" name="button" class="btn btn-success">Obtener clientes</button>
            <button on-click="insertarCliente" type="button" name="button">Insertar Cliente</button>
        </div>
        <div class="row">
            <table class="table table-stripped">
                <tbody>
                <template is="dom-repeat" items="[[clientes]]">
                    <tr>
                        <td>
                            [[item.idcliente]]
                        </td>
                        <td>
                            [[item.nombre]]
                        </td>
                        <td>
                            [[item.apellido]]
                        </td>
                        <td>
                            [[item.cuenta]]
                        </td>
                    </tr>
                </template>
                </tbody>
            </table>
        </div>
    </template>

    <script>
        /**
         * @customElement
         * @polymer
         */
        class GestorClientes extends Polymer.Element {
            static get is() { return 'gestor-clientes'; }
            static get properties() {
                return {
                    clientes: {
                        type: Array,
                        notify: true
                    }
                };

            }
            /*obtenerClientes(){
                var url = "https://services.odata.org/V4/Northwind/Northwind.svc/Customers";
                var request = new XMLHttpRequest();

                request.open("GET", url, false);
                request.setRequestHeader("Accept", "application/json");
                request.send();

                this.clientes = JSON.parse(request.responseText).value;
                console.table(this.clientes);
            }*/
            obtenerClientes(){
                //var url = "https://api.mlab.com/api/1/databases/achavezb/collections/Clientes?apiKey=GOLqWa850qO8tsdCUdby6eq9eKPInBkt";
                var request = new XMLHttpRequest();

                request.open("GET", "http://localhost:3002/Clientes", false);
                request.setRequestHeader("Accept", "application/json");
                request.send();

                this.clientes = JSON.parse(request.responseText);
                console.table(this.clientes);
            }
            insertarCliente() {
                var url = "https://services.odata.org/V4/Northwind/Northwind.svc/Customers";
                var request = new XMLHttpRequest();
                request.open("POST", url, false);
                request.setRequestHeader("Accept", "application/json");
                request.setRequestHeader("Content-Type", "application/json");
                var nuevoCliente = {"CustomerID":"12345", "ContactName":"Pepe", "CompanyName":"Pepes Bar"};
                var body = JSON.stringify(nuevoCliente);
                request.send(body);
                this.respuesta = request.responseText;
                console.log(this.respuesta);
            }
        }

        window.customElements.define(GestorClientes.is, GestorClientes);    </script>
</dom-module>
