<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<dom-module id="mi-visor">
    <template>
        <style>
            :host {
                display: block;
            }
        </style>
        <div class="row">
            <div class="container">
                <img src="https://picsum.photos/200" alt="Holi">
            </div>
        </div>
        <div class="row">
            <button type="button" on-click="incrementar" name="button" class="btn btn-success">Cargar</button>
        </div>
        <div class="row">
            <span>Data binding</span><br>
            Bidireccional: <input type="text" placeholder="[[prop3]]" value = "{{prop1::input}}">
            <br>
            One-way: <input type="text" value="[[prop1]]">
        </div>
        <div class="row">
            <table class="table table-stripped">
                <thead>
                <th>ID</th>
                <th>Nombre</th>
                <th>Apellido</th>
                </thead>
                <tbody>
                <tr>
                    <td>[[prop2]]</td>
                    <td>Selena</td>
                    <td>Mora</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>Elena</td>
                    <td>Nito</td>
                </tr>
                </tbody>
            </table>
        </div>
    </template>

    <script>
        /**
         * @customElement
         * @polymer
         */
        class MiVisor extends Polymer.Element {
            static get is() { return 'mi-visor'; }
            static get properties() {
                return {
                    prop1: {
                        type: String,
                        value: 'mi-visor'
                    },
                    prop2:{
                        type: Number,
                        value: 999
                    },
                    prop3:{
                        type: String,
                        value: "Proporcione su usuario."
                    }
                };

            }
            incrementar(){
                this.prop2 += 1;
                console.log(this.prop1);
                console.log(this.prop2);
            }
        }

        window.customElements.define(MiVisor.is, MiVisor);
    </script>
</dom-module>
